<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <form>
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" placeholder="what's next?" class=" border border-green-700 
                        rounded text-gray-900 w-full p-2 text-sm"required/>
                    </div>
                    <div class="flex-auto">
                        <input type="date" class=" border border-green-700 
                        rounded text-gray-900 w-full p-2 text-sm leading-4" />
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-emerald-600 rounded text-white px-5 py-1.5 mr-2 mb font-medium">ADD</button>
                    </div>
                </div>
            </form>
            <div>
                <h5 style="display: inline;">Overdue</h5>
                <span id="count-Overdue"  class="items-center justify-self-start w-6 h-6 my-1 px-2  bg-gray-100 text-black 
                md:font-bold rounded fond-bold mr-2 mb-2 border-gray"><%= Overdue.length %></span>
                <ul class="list-none">
                    <% for(let i = 0; i < Overdue.length; i++) { %>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                                <input id="todo-checkbox-<%= Overdue[i].id %>"type="checkbox" class="rounded border-gray-100">
                                <label for="todo-checkbox-<%= Overdue[i].id %>" class="m-2 cursor-pointer "><%= Overdue[i].title %></label>
                                <a href="#" class="hidden trash-icon ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 
                                        5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5
                                        0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                                
                                
                            </div>
                        </li>
                    <% } %>    
                </ul>
                <h5 style="display: inline;">Due Today</h5>
                <span id="count-DueToday"  class="items-center justify-self-start w-6 h-6 my-1 px-2  bg-gray-100 text-black 
                md:font-bold rounded fond-bold mr-2 mb-2 border-gray"><%= DueToday.length %></span>
                <ul class="list-none">
                    <% for(let i = 0; i < DueToday.length; i++) { %>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                                <input id="todo-checkbox-<%= DueToday[i].id %>" type="checkbox" class="rounded border-gray-100">
                                <label for="todo-checkbox-<%= DueToday[i].id %>" class="m-2 cursor-pointer "><%= DueToday[i].title %></label>
                                <a href="#" class="hidden trash-icon ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 
                                        5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5
                                        0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                                
                                
                            </div>
                        </li>
                    <% } %>    
                </ul>
                <h5 style="display: inline;">Due Later</h5>
                <span id="count-DueLater"  class="items-center justify-self-start w-6 h-6 my-1 px-2  bg-gray-100 text-black 
                md:font-bold rounded fond-bold mr-2 mb-2 border-gray"><%= DueLater.length %></span>
                <ul class="list-none">
                    <% for(let i = 0; i < DueLater.length; i++) { %>
                        <li class="Todo-Item">
                            <div class="flex items-center w-fit my-2 px-2 py-1 hover:bg-purple-50">
                                <input id="todo-checkbox-<%= DueLater[i].id %>" type="checkbox" class="rounded border-gray-100">
                                <label for="todo-checkbox-<%= DueLater[i].id %>" class="m-2 cursor-pointer "><%= DueLater[i].title %></label>
                                <a href="#" class="hidden trash-icon ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 
                                        5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5
                                        0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                                
                                
                            </div>
                        </li>
                    <% } %>    
                </ul>
            </div>
        </div>
    </div> 
</body>
</html>